@model AspnetIdentityFromScratch.Models.LoginViewModel
@{
    ViewBag.Title = "Войти в учетную запись";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Войти в учетную запись</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "role" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-10">
        @Html.ValidationSummary()
        <input type="hidden" name="retUrl" value="@ViewBag.retUrl"/>

        <div class="form-group">
            @Html.LabelFor(m=>m.Username, new{@class= "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m=>m.Username,new{@class="form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m=>m.Password, new{@class= "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m=>m.Password,new{@class="form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Войти" />
            </div>
        </div>
    </div>
}


